/* Reset rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

header {
  background-color: #7FFFD3;
  padding: 20px;
}

section {
  margin-left: 30px;
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 3.0em;
  line-height: 1.1;
}

h2 {
  margin: 20px 0;
  font-size: 1.8em;
  font-weight: 900;
}

h3 {
  padding: 10px 0 5px 0;
  font-weight: 900;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  margin: 30px 0 5px 0;
  border-width: 2px;
}

/* Classi per gli stati dinamici */
.state-completed {
  margin-left: 5px;
  padding: 8px 10px;
  background-color: #1ed245;
  color: white;
}

.state-inprogress {
  margin-left: 5px;
  padding: 8px 10px;
  background-color: #D2691E;
  color: white;
}

.state-backlog {
  margin-left: 5px;
  padding: 8px 10px;
  background-color: red;
  color: white;
}

/* Fine classi per gli stati dinamici */